**/dist
**/.next
**/.turbo
**/Skeleton
**/public
**/__pycache__
**/data
**/pdfs
**/fonts
.venv
.husky

**/*.md
**/*.ico
**/*.png
**/*.gif
**/*.txt
**/*.tsbuildinfo
**/*.webp
**/*.jpg
**/*.toml
**/*.py
**/*.lock
**/*.properties
**/.pylintrc
**/*.drawio*
**/*.ttf
**/*.conf
**/*.cfg
**/*.ini
**/*.ps1
**/*.conf
**/pdf
**/drizzle
**/*.xlsx
**/*.sql
**/*.docx
