services:
  service_name:
    build:
      context: ./
    restart: always
    ports:
      - '8000:8000'
    environment:
      - UVICORN_RELOAD=true
      - PROJECT_BASE_PATH=/app
      - AZURE_CONNECTION_STRING=${AZURE_CONNECTION_STRING}
      - AZURE_STORAGE_ACCOUNT=${AZURE_STORAGE_ACCOUNT}
      - AZURE_ACCOUNT_KEY=${AZURE_ACCOUNT_KEY}
      - PROJECT_BASE_PATH=/app
      # - UPLOAD_DIR=/app/temp_uploads
    volumes:
      - .:/app
      # - ../../data:/app/data # local dev
      - ./src:/app/src
      - ./data:/app/data
    networks:
      - database
    # env_file: # LOCAL ONLY
    #   - .env

networks:
  database:
    external: true
    name: database