services:
  service_name:
    build:
      context: ./
    restart: always
    ports:
      - '8000:8000'
    environment:
      - UVICORN_RELOAD=true
      - PROJECT_BASE_PATH=/app
      - PROJECT_BASE_PATH=/app
      # - UPLOAD_DIR=/app/temp_uploads
    volumes:
      - .:/app
      - ./src:/app/src
      - ./data:/app/data
    # env_file: # LOCAL ONLY
    #   - .env

networks:
  database:
    external: true
    name: database